#listaUsuarios {
	color:white;
}
#envolver {
	position:absolute;
	height: 250px;
	width: 300px;
	margin-right:20px;
}

.modal-dialog *{
	color:black !important;
}

#wrapListaUsuarios ,#objetos{
	position:absolute;
}
#colores div, #fichas div{
	display:inline-block;
	width:30px;
	height:30px;
}
#colores div:hover, #fichas div:hover,#tablero td:hover{
	outline:2px solid orange;
}

#wrapmivideo,#wrapsuvideo , .wraprival{
	position:absolute;
	width:200px;
	height:100px;
	margin-bottom:100px;
	
}

#wrapmivideo video ,#wrapsuvideo video , .wraprival video{
	width:100%;
	height:100%;
}
#wrapmivideo .ui-icon,#wrapsuvideo .ui-icon , .wraprival .ui-icon{
	bottom: -10px;
}

button{
color: black;	
}

#animacion1{
	display: block;
	width:100px;
background: none repeat scroll 0% 0% #00F;
z-index: 4000;
border: 1px solid blue;
top: 240px;
position: absolute;
right:0px;
}

#chat div {
	width:100%;
	
	overflow-y:scroll;
	
}
#tiempos p {
	color:yellow;
}
#tiempos{
	/*background-color:rgba(240,100,100,0.5);*/
}

#chat ul{
	overflow-y:scroll;
	overflow-x:hidden;
	height:40px;
	width:100%;
	display:inline-block;
}
#chat ul li{
	float:left;
}
#chat {
	margin:auto;
	/*outline:red 4px solid;*/
}
#chat p{
	color:black;
}

.ui-icon{
	width:30px;
	height:30px;
	background-color:rgba(0,0,0,.4);
	
}

#wrapTablero .ui-icon{
	bottom: -50px;
	
}
#partidas{
	width:400px;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
	position:absolute;
	height: 130px;
 	overflow:hidden;
	      
}



#controlesPartida , #mover, #tiempos, #moverTablero, #arrastrarmivideo,#arrastrarsuvideo ,.arrastable {
	cursor: move;
	color: yellow;
	text-align:center;
	background-color:rgba(0,0,0,0.6);
	font-weight:bolder;
}
#wrapTablero,#envolver,#tiempos,#partidas{
	margin:4px;
	margin-bottom:20px;
}
#tablaPartidas{
	overflow-x:hidden;
}
#tablaPartidas *{
	color:white;
}
#tablaPartidas button{
	color:black;
}
div.gridster>ul>li{
	background:red;
	overflow:hidden;
}
.item{
	border:2px solid black;
	-webkit-box-shadow: 12px 5px 18px 4px rgba(50, 50, 50, 1);
-moz-box-shadow:    12px 5px 18px 4px rgba(50, 50, 50, 1);
box-shadow:         12px 5px 18px 4px rgba(50, 50, 50, 1);
	background: rgba(0,0,0,.4);
}
#tablaPartidas table{
	background:black;
	width:400px !important;
	/*height:100%;*/
}
#tablaPartidas td{
	
}
#listaPartidas tr:nth-child(odd) {
    background-color: rgba(100,100,100,.6);
    color:white;
    font-weight:bolder;
}
#listaPartidas tr:nth-child(even) {
     background-color: rgba(0,0,0,.6);
    color:white;
    font-weight:bolder;
}