/* Css Pantalla juego*/
*{
	margin:0;
	padding:0;
}
.tablero {
    min-width:10em;
    min-height:10em;
    /*height:80%;*/
    background:black;
}
.tablero td{
	min-width:40px;
	min-height:40px;
}
table{
    width:100%;
    height:100%;
    
}
img{
    height:90%;
    width:86%;
}
#chat{
     /*width:100%;*/
    margin-top:1%;
    height:50px;
    background:rgba(0,0,0,1);
    color:white;
    overflow:scroll;
}